.menu_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.menu_wrap ul{
    display: flex;
    display: flex;
    column-gap: 25px;
}
.menu_wrap ul li{
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}


@media only screen and (min-width: 992px){
    .menu_wrap ul{
        column-gap: 35px;
    }
}