.table_wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0px 50px;
}

.input_wrapper{
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
}
.input_wrapper label{
    font-size: 15px;
    font-weight: bold;
    color: #466443;
}
.input_wrapper input{
    padding: 8px 0px;
    border-radius: 5px;
    border: 2px solid #d2ded9;
}

@media only screen and (min-width: 576px){
    .table_wrap{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 768px){
    .table_wrap{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (min-width: 1400px){
    .table_wrap{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}